#edit-character-attributes-container{
    display: flex;
    flex-direction: column;
    width: 250px;
    background-image: url("https://devquest.s3.us-east-2.amazonaws.com/menus/character-update.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4em;
    border-radius: 1em;
    gap: .75em;
    text-align: center;
}

.edit-character-field-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-character-button-container{
    display: flex;
}