#new-equipment-component-container {
  width: 300px;
  background-color: rgb(60, 60, 60);
  border: 2px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: .5em;
  gap: 1em;
}

#new-equipment-header {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

#new-equipment-attributes-header{
  display: flex;
  justify-content: center;
}

.new-equipment-field-container{
    display: flex;
    flex-direction: column;
}

.new-equipment-input-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-equipment-attributes-container{
    display: flex;
    flex-direction: column;
    gap:.75em;
}
.new-equipment-attribute-button-container {
  display: flex;
  justify-content: space-between;
}

.product-button-container {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0.25em;
}

#new-equipment-submit-button-container{
    display: flex;
    justify-content: center;
}

#new-equipment-image-url-container{
    display: flex;
    justify-content: space-between;
}

