#game-state-rest-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#gsr-background-container{
    background-image: url("https://devquest.s3.us-east-2.amazonaws.com/splash-screens/rest.jpg");
    display: grid;
    border-radius: 1em;
    width: 800px;
    grid-template-rows: 550px 50px 200px;
    grid-template-areas:
    "."
    "manage"
    "options";
}

#gsr-character-manage-container{
    grid-area: manage;
    display: flex;
    gap: 2em;
    justify-content: right;
}

#gsr-character-resources-container{
    display: flex;
    gap: 2em;
}

#gsr-character-rest-options-container{
    grid-area: options;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#rest-options-container{
    display: flex;
    gap: 1em;
    justify-content: center;
}

#inventory-button-container{
    width: 20%;
}

#gsr-character-rest-options-container > h5 {
    text-align: right;
    padding-right: 50px;
}


.option-item-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 137, 41);
    border: 1px solid black;
    border-radius: .5em;
    padding: .25em;
    color: black;
    width: 130px;
}

.deactivated{
    background-color: rgb(107, 107, 107);
}

.option-item-container:hover{
    cursor: pointer;
}
