body {
    margin: 0px !important;
    padding: 0px !important;
    min-height: 100vh;
    border: 5px solid red
}

#root {
    font-family: "Gordita", Helvetica, Arial, Verdana, sans-serif;
    min-height: inherit;
    border: 5px solid green;
}

#main-content{
    height: 100%;
    min-height: 100%;
    display: flex;
    border: 5px solid purple;
}

ul{
    list-style: none;
}