body {
    margin: 0px !important;
    padding: 0px !important;
    min-height: 100vh;
}

#root {
    font-family: "Gordita", Helvetica, Arial, Verdana, sans-serif;
    min-height: inherit;
    margin: 0px !important;
    padding: 0px !important;
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    grid-template-areas:
    "header"
    "main-content"
    "footer";
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#navigation-component-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: grey;
    grid-area: header;
}

#navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: auto;
}

#navigation-links-container{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-right: 2em;
    margin-left: 2em;
}

.profile-dropdown {
    position: absolute;
}

.hidden {
    display: none;
}

#main-content{
    grid-area: main-content;
    display: flex;
}

#footer-component-container{
    grid-area: footer;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: grey;
}

#footer-links{
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0px;
    padding: 0px;
}