.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#navigation_component_container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgb(167, 167, 167);
}

#nav_links_container{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 0px;
}
