#game-state-combat-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    grid-template-areas:
    "console monster"
    "character monster";
}

#combat-log-container{
    grid-area: console;
    width: 100%;
    background-image: url("https://devquest.s3.us-east-2.amazonaws.com/menus/console.png");
    background-repeat:no-repeat;
    background-position: center center;
    display: grid;
    grid-template-columns: 230px 500px 230px;
    grid-template-rows: 165px 185px 202px;
    grid-template-areas: 
    ". . ."
    ". log ."
    ". . .";
}

#combat-log-wrapper{
    grid-area: log;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
}

#character-container{
    grid-area: character;
    width: 100%;
}

#monster-container{
    grid-area: monster;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#monster-card-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: fit-content;
}