#game-state-combat-container{
    display:flex;
    flex-direction: column;
    height: 100%;
}

#monster-container{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#monster-image-container{
    width: 40%;
    height: 100%;
    background-color: pink;
    border: 3px solid black;
    border-radius: 1em;
}

#combat-log-container{
    width: 100%;
    height: 33%;
    background-color: rgb(181, 181, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

#combat-log{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border: 3px solid black;
    padding: .5em;
    border-radius: 1em;
    gap: .5em;
    overflow-y: scroll;
}

#character-container{
    width: 100%;
    height: 34%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#character-resources-image-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 75%;
    border: 3px solid black;
    border-radius: 1em;
    padding: .5em;
    gap: .5em;
}

#character-resources-container{
    display: flex;
    gap: 1em;
}

#character-image-container{
    width: 100%;
    height: 90%;
}

#equipped-items-container{
    width: 5%;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    gap: 1em;
}

.equipped-item{
    width: 100%;
    height: 30%;
    border: 3px solid black;
    border-radius: .5em;
}

#character-attacks-container{
    width: 60%;
    height: 67%;
    border: 3px solid black;
    border-radius: 1em;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
}

#character-attack-container{
    width: 47%;
}