#game-menu-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    height: 400px;
    width: 800px;
    background-image: url("https://devquest.s3.us-east-2.amazonaws.com/menus/save-panel.jpg");
    background-size: 800px 400px;
}

#game-menu-panel{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
    gap: 1em;
    align-items: center;
} 

#saved-game-container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5em;
    width: 100%;
    padding-left: 2em;
}

#save-name-span-container{
    text-align: center;
}