#character-resources-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}
#game-state-rest-container{
    display: flex;
    flex-direction: column;
}

#rest-options-container{
    display: flex;
    gap: 1em;

}

#inventory-button-container{
    width: 20%;
}

.option-item-container{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: .5em;
    padding: .25em;
}

.option-item-container:hover{
    cursor: pointer;
}