#monster-card-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 1em;
    align-items: center;
}

.monster-image{
    width: 800px;
    height: 800px;
    border-radius: 1em;
}